* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 100%;
}

:root {
  /* Widths */
  --max-width: 1120px;
  --width-fixed: 600px;
  --width-fluid: 90vw;

  /* Colors */
  --color-white: #fff;
  --color-white-100: #f1f1f1;
  --color-white-200: #f1f1f1ea;
  --color-white-300: #e3dbdb;

  --color-black: #111;
  --color-black-100: #353535;

  /* Shadows */
  --shadow-light: #00000033;
  --shadow-medium: #00000099;
  --shadow-dark: #000000cc;

  /* Accent Colors */
  --color-aqua: #52a5a8;
  --color-blue: #5268ff;
  --color-blue-100: #3741d9;

  /* Font Weights */
  --font-weight-medium: 500;
  --font-weight-semibold: 600;

  /* Font Sizes */
  --font-size-xxs: 0.75rem;
  --font-size-xs: 0.875rem;
  --font-size-sm: 1rem;
  --font-size-md: 1.5rem;
  --font-size-lg: 1.8rem;
  --font-size-xxl: 4.25rem;

  /* Border Radius */
  --border-radius-xs: 0.4rem;
  --border-radius-sm: 0.6rem;
  --border-radius-md: 0.8rem;

  /* Transitions */
  --transition-fast: 0.3s all;
  --transition-color-opacity: color 0.3s, opacity 0.3s;

  /* Spacing (Gaps) */
  --spacing-xs: 0.85rem;
  --spacing-sm: 1rem;
  --spacing-lg: 2rem;

  /* Opacities */
  --opacity-high: 0.85;
  --opacity-medium: 0.7;
  --opacity-low: 0.25;

  /* Paddings */
  --padding-small: 6px 12px;
  --padding-medium: 8px 10px;
  --padding-medium-wide: 8px 16px;
  --padding-regular: 10px 0px;
  --padding-regular-horizontal: 10px 12px;
  --padding-regular-medium: 10px 15px;
  --padding-regular-large: 12px 18px;
  --padding-large-horizontal: 14px 24px;
  --padding-large-left: 14px 0 14px 24px;
  --padding-extra-large: 15px 20px;
}

body {
  position: relative;
  margin: 0;
  height: 100vh;
  background-color: var(--color-aqua);
  font-family: "GT Super WT", "Segoe UI", "Roboto", "Arial", "Helvetica Neue",
    "Lucida Grande", sans-serif;
  overflow: hidden;
}

body::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  background-image: url(./images/forest.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: var(--opacity-low);
  z-index: -1;
}

a {
  text-decoration: none;
  color: var(--color-black-100);
}

ul {
  list-style: none;
}

.center-element {
  display: flex;
  align-items: center;
  justify-content: center;
}

#nav-desktop {
  height: 6rem;
}

#nav-mobile {
  display: none;
}

.nav-desktop-center {
  width: 95vw;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
}

.icon {
  color: var(--color-white);
  text-shadow: 0 0 10px var(--shadow-dark), 0 0 20px var(--shadow-medium);
}

.nav-desktop-menu {
  display: flex;
  align-items: center;
  gap: var(--spacing-xs);
}

.nav-desktop-menu-1 {
  border-radius: var(--border-radius-md);
  background-color: #fff;
  gap: var(--spacing-xs);
}

.nav-desktop-menu-1 p {
  padding: var(--padding-large-left);
  font-size: var(--font-size-xs);
}

.nav-desktop-menu-1 .dropdown:nth-last-of-type(1) {
  padding: var(--padding-large-horizontal);
  display: none;
}

#sources {
  display: block;
  padding: var(--padding-large-horizontal);
}

.dropdown,
.dropdown-mobile {
  position: relative;
  display: inline-block;
}

.dropdown span {
  color: var(--color-black-100);
  font-weight: var(--font-weight-semibold);
  transition: var(--transition-color-opacity);
  cursor: pointer;
  padding: var(--padding-large-left);
  font-size: var(--font-size-xs);
}

.dropdown span:hover {
  color: var(--color-black-100);
  opacity: var(--opacity-medium);
}

.dropdown-content,
.dropdown-mobile-content {
  display: none;
  position: absolute;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown-mobile.mobile-active .dropdown-mobile-content {
  display: block;
}

.lists {
  background-color: var(--color-white);
  box-shadow: 0px 8px 16px 0px var(--shadow-light);
  padding: var(--padding-regular-large);
  z-index: 1;
  border-radius: var(--border-radius-sm);
  margin-top: 1.3rem;
}

.dropdown-content .feature-lists {
  min-width: 16rem;
}

.feature-lists li {
  padding: var(--padding-medium);
}

.lists li a {
  color: var(--color-black-100);
  font-weight: var(--font-weight-semibold);
  text-decoration: none;
  transition: var(--transition-color-opacity);
  font-size: var(--font-size-xs);
}

.lists li a:hover {
  color: var(--color-black-100);
  opacity: var(--opacity-medium);
}

.source-lists {
  display: flex;
  left: -11rem;
  position: absolute;
  width: 31rem;

}

.source-lists ul {
  list-style: none;
  width: 20rem;
  border-right: 1px solid var(--color-white-300);
  padding: var(--padding-medium);
}

.source-lists ul:nth-last-of-type(1) {
  border: none;
}
.source-lists ul li {
  padding: var(--padding-medium);
}

.text-blue {
  font-size: var(--font-size-xs);
  color: var(--color-blue);
}

.fa-chevron-down,
.fa-chevron-up {
  font-size: var(--font-size-xss);
}

.register {
  color: var(--color-white-100);
  background-color: var(--color-black-100);
  margin-right: 8px;
  margin-left: -16px;
  padding: var(--padding-small);
  border-radius: var(--border-radius-xs);
}

section {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: var(--spacing-lg);
  padding: 2rem;
  width: var(--fluid-width);
  max-width: 100rem;
  margin: 0 auto;
}

#section-left {
  background-color: var(--color-white-100);
  border-radius: var(--border-radius-md);
  opacity: var(--opacity-high);
  width: 18rem;
}

.section-left-container {
  padding: var(--padding-regular-large);
}

.icon-container {
  background: var(--color-black);
  width: 50px;
  height: 50px;
  border-radius: 1.12rem;
}
.icon-1 {
  color: var(--color-white);
}

.section-left-text-1 {
  margin: 2rem 0 2rem 0;
  font-size: var(--font-size-lg);
}

.section-left-text-2 {
  font-size: var(--font-size-sm);
  color: #0f0f0f;
}
.section-left-text-2 a {
  text-decoration: underline;
}

.section-left-button {
  width: 100%;
  margin: 2rem 0 0.75rem 0;
  padding: var(--padding-extra-large);
  background-color: var(--color-blue);
  color: var(--color-white-100);
  border-radius: var(--border-radius-md);
  border: none;
  font-size: var(--font-size-xs);
}

.section-right-wrapper {
  height: 75vh;
  overflow-y: auto;
  scrollbar-width: none;
}
.section-right-wrapper::-webkit-scrollbar {
  display: none;
}
.section-right-container h1 {
  color: var(--color-white-100);
  font-size: var(--font-size-md);
}
.section-right-text-1 {
  width: 75%;
  color: var(--color-white-100);
  font-size: var(--font-size-xxl);
  line-height: 1;
}
.right-text-container {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-sm);
  margin: 1rem 0 1rem 0;
}

.right-text-container > p {
  color: var(--color-white-200);
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-semibold);
  width: 80%;
}

.right-button-container {
  display: flex;
  gap: var(--spacing-sm);
}

.btn {
  color: var(--color-white-100);
  padding: var(--padding-regular-large);
  cursor: pointer;
  transition: var(--transition-fast);
  border-radius: var(--border-radius-xs);
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-xs);
}
.btn-1 {
  background-color: var(--color-blue);
  border: none;
}
.btn-1:hover {
  background-color: var(--color-blue-100);
}

.btn-2,
.save-btn {
  background: transparent;
  border: 1px solid var(--color-white-100);
}

.btn-2:hover {
  background-color: var(--color-blue-100);
  border: 1px solid var(--color-blue-100);
}

.btn-3 {
  background: transparent;
  color: var(--color-white-100);
  border: none;
  font-size: var(--font-size-xs);
  font-weight: var(--font-weight-semibold);
  text-decoration: underline;
  cursor: pointer;
}

#manage-preference {
  display: none;
}

#manage-preference.active {
  display: flex;
  height: 20vh;
  width: 80%;
  margin: 20px 0;
  overflow-y: auto;
  border-bottom: 2px solid #f1f1f1c7;
}

.manage-preference-content {
  margin: 10px 0;
}

.text {
  color: var(--color-white-200);
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-semibold);
}

.content-options {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#purposes,
#feature,
#sellers {
  display: flex;
  flex-direction: column;
}

.feature-content {
  margin: 20px 0;
}

.sellers-content-items,
.purposes-content-items {
  text-align: center;
}

.sellers-content-items,
.content-options-items,
.purposes-content-items {
  width: min-content;
  margin: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: var(--padding-medium); */
  border: 1px solid var(--color-white-300);
  border-radius: var(--border-radius-xs);
  cursor: pointer;
}

.item-option {
  font-size: var(--font-size-sm);
  color: var(--color-white);
  font-weight: var(--font-weight-semibold);
  padding: 8px;
  border-right: 1px solid var(--color-white);
  text-align: center;
  width: 8rem;
}

.sellers-item,
.purposes-item {
  text-align: center;
  width: 10rem;
  font-size: var(--font-size-sm);
  color: var(--color-white);
  font-weight: var(--font-weight-semibold);
  padding: 8px;
  cursor: pointer;
}

.item-option:nth-last-of-type(1) {
  border-right: none;
}

.sellers-item.active,
.item-option.active,
.purposes-item.active {
  color: #353535;
  background-color: var(--color-white);
}

.item-option.active:first-of-type,
.purposes-item.active:first-of-type {
  border-top-left-radius: var(--border-radius-xs);
  border-bottom-left-radius: var(--border-radius-xs);
}
.item-option.active:nth-last-of-type(1),
.purposes-item.active:nth-last-of-type(1) {
  border-top-right-radius: var(--border-radius-xs);
  border-bottom-right-radius: var(--border-radius-xs);
}

.content-options-active {
  display: flex;
}

.content-options-inactive {
  display: none;
}

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;

}

.switch input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 24px;

}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: var(--color-blue);
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.sellers-list-item,
.purposes-list-item {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-small);
  cursor: pointer;

}

.sellers-list-item-content,
.purposes-list-item-content {
  display: flex;
  align-items: center;
  gap: 0.2rem;
}

.sellers-list-item-content:hover::before,
.purposes-list-item:hover::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(53, 53, 53, 0.3);
  border-radius: var(--border-radius-sm);
  z-index: -1;
}

.sellers-head,
.purposes-head {
  margin-bottom: 10px;
  color: var(--color-white);
  font-size: var(--font-size-md);
}

.sellers-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--spacing-xs);
}
.sellers-right-text {
  background-color: #718096;
  border-radius: var(--border-radius-xs);
  padding: 5px;
  color: var(--color-white);
  font-size: var(--font-size-xxs);
}

.sellers-list-status {
  margin: 5px;
  gap: var(--spacing-xs);
}

.fa-arrow-left,
.fa-arrow-right {
  border: 1px solid var(--color-white);
  padding: 5px;
  border-radius: var(--border-radius-xs);
  color: var(--color-white);
}

#sea-trees {
  position: relative;
}

.sea-trees-text {
  position: fixed;
  right: 0;
  bottom: 0;
  padding: var(--padding-extra-large);
  color: var(--color-white);
  font-size: var(--font-size-sm);
}

/* For Medium Screens */
@media (min-width: 768px) and (max-width: 992px) {
  .nav-desktop-menu {
    gap: 0.65rem;
  }

  #sources,
  #examples_use {
    display: none;
  }

  .nav-desktop-menu-1 .dropdown:nth-last-of-type(1) {
    padding: var(--padding-large-horizontal);
    display: block;
  }

  .source-lists {
    left: -18rem;
    width: 38rem;
  }

  #section-left {
    width: 15rem;
  }
  .button-1 {
    padding: var(--padding-regular-medium);
    font-size: var(--font-size-xxs);
  }

  .button-2 {
    padding: var(--padding-regular-medium);

    font-size: var(--font-size-xxs);
  }
}

/* For Mobile Screens */
@media (max-width: 768px) {
  body {
    height: 100vh;
    overflow: hidden;
  }

  #nav-desktop {
    display: none;
  }
  #more_data {
    display: none;
  }

  #nav-mobile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--color-white);
    padding: var(--padding-medium-wide);
  }

  .mobile-nav-menu {
    background-color: var(--color-white);
    width: var(--fluid-width);
    min-width: 20rem;
    box-shadow: 0px 8px 16px 0px var(--shadow-light);
    padding: var(--padding-regular-large);
    z-index: 1;
    border-radius: var(--border-radius-md);
    margin-top: 1.3rem;
    z-index: 1;
    transition: var(--transition-fast);
    max-height: 80vh;
    overflow-y: auto;
  }

  .mobile-nav-menu-items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
    font-size: var(--font-size-xs);
    color: var(--color-black-100);
    transition: var(--transition-fast);
  }

  .mobile-menu-content {
    padding: var(--padding-regular-horizontal);
  }

  .mobile-nav-menu-lists {
    display: none;
  }

  .mobile-nav-menu-area.active .mobile-nav-menu-lists {
    display: block;
  }

  .mobile-nav-menu-lists li {
    font-size: var(--font-size-xs);
    padding: var(--padding-regular);
  }
  .mobile-nav-menu-lists li a:hover {
    color: var(--color-black-100);
    opacity: var(--opacity-medium);
  }

  .icon {
    color: var(--color-black);
    font-size: var(--font-size-md);
    margin-left: 0.8rem;
  }

  section {
    grid-template-columns: 1fr;
    width: 100%;
    max-width: 100%;
    height: 100%;
  }
  #section-left {
    opacity: var(--opacity-high);
  }

  .section-right-wrapper {
    display: none;
  }
}
