* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --max-width: 1120px;
  --fixed-width: 600px;
}

body {
  position: relative; /* Pseudo elementin konumlanabilmesi için */
  height: 100vh;
  background-color: cadetblue;
}

body::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url(./images/forest.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.5;
  z-index: -1;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 25px;
}

.icon {
  color: #fff;
}
