* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 100%;
}

:root {
  /* Widths */
  --max-width: 1120px;
  --width-fixed: 600px;
  --width-fluid: 90vw;

  /* Colors */
  --color-white: #fff;
  --color-white-100: #f1f1f1;
  --color-white-200: #f1f1f1ea;
  --color-white-300:#e3dbdb;

  --color-black: #111;
  --color-black-100: #353535;

  /* Shadows */
  --shadow-light: #00000033;
  --shadow-medium: #00000099;
  --shadow-dark: #000000cc;

  /* Accent Colors */
  --color-aqua: #52a5a8;
  --color-blue: #5268ff;
  --color-blue-100:#3741d9;

  /* Font Weights */
  --font-weight-medium: 500;
  --font-weight-semibold: 600;

  /* Font Sizes */
  --font-size-xs: 0.75rem;
  --font-size-small: 0.875rem;
  --font-size-medium:1rem;
  --font-size-medium-wide:1.5rem;
  --font-size-large:1.8rem;
  --font-size-xlarge:4rem;
  
  /* --font-size-xxs: 0.75rem;      
  --font-size-xs: 0.875rem;      
  --font-size-sm: 1rem;          
  --font-size-md: 1.5rem;     
  --font-size-lg: 1.8rem;  */

  /* Border Radius */
  --border-radius-xs:0.4rem;
  --border-radius-small: 0.8rem;

  /* Transitions */
  --transition-fast: 0.3s all;
  --transition-color-opacity: color 0.3s, opacity 0.3s;

  /* Spacing (Gaps) */
  --spacing-xs: 0.85rem;
  --spacing-sm: 1rem;
  --spacing-lg: 2rem;

  /* Opacities */
  --opacity-high: 0.85;
  --opacity-medium: 0.7;
  --opacity-low: 0.35;

  /* Paddings */
  --padding-small: 6px 12px;
  --padding-medium: 8px 10px;
  --padding-medium-wide: 8px 16px;
  --padding-regular: 10px 0px;
  --padding-regular-horizontal: 10px 12px;
  --padding-regular-medium: 10px 15px;
  --padding-regular-large: 12px 18px;
  --padding-large-horizontal: 14px 24px;
  --padding-large-left: 14px 0 14px 24px;
  --padding-extra-large: 15px 20px;
}

a {
  text-decoration: none;
  color: #353535;
}

ul {
  list-style: none;
}

body {
  position: relative;
  height: 100%;
  background-color: var(--color-aqua);
  font-family: "GT Super WT", "Segoe UI", "Roboto", "Arial", "Helvetica Neue",
    "Lucida Grande", sans-serif;
  overflow: auto;
}

body::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url(./images/forest.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: var(--opacity-low);
  z-index: -1;
}

#nav-desktop {
  height: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

#nav-mobile {
  display: none;
}

.nav-desktop-center {
  width: 95vw;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
}

.icon {
  color: var(--color-white);
  text-shadow: 0 0 10px var(--shadow-dark), 0 0 20px var(--shadow-medium);
}

.nav-desktop-menu {
  display: flex;
  align-items: center;
  gap: var(--spacing-xs);
}

.nav-desktop-menu-1 {
  border-radius: var(--border-radius-small);
  background-color: #fff;
  gap: var(--spacing-xs);
}

.nav-desktop-menu-1 p {
  padding: 14px 0 14px 24px;
  font-size: var(--font-size-small);
}

.nav-desktop-menu-1 .dropdown:nth-last-of-type(1) {
  padding: var(--padding-large-horizontal);
  display: none;
}

#sources {
  display: block;
  padding: var(--padding-large-horizontal);
}

.dropdown,
.dropdown-mobile {
  position: relative;
  display: inline-block;
}

.dropdown span {
  color: var(--color-black-100);
  font-weight: var(--font-weight-semibold);
  transition: var(--transition-color-opacity);
  cursor: pointer;
  padding: var(--padding-large-left);
  font-size: var(--font-size-small);
}

.dropdown span:hover {
  color: var(--color-black-100);
  opacity: var(--opacity-medium);
}

.dropdown-content,
.dropdown-mobile-content {
  display: none;
  position: absolute;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown-mobile.mobile-active .dropdown-mobile-content {
  display: block;
}

.dropdown-content .feature-lists {
  background-color: var(--color-white);
  min-width: 16rem;
  box-shadow: 0px 8px 16px 0px var(--shadow-light);
  padding: var(--padding-regular-large);
  z-index: 1;
  border-radius: var(--border-radius-small);
  margin-top: 1.3rem;
}

.feature-lists li {
  padding: var(--padding-medium);
}

.feature-lists li a {
  color: var(--color-black-100);
  font-weight: var(--font-weight-semibold);
  text-decoration: none;
  transition: var(--transition-color-opacity);
  font-size: var(--font-size-small);
}

.feature-lists li a:hover {
  color: var(--color-black-100);
  opacity: var(--opacity-medium);
}
.source-lists {
  display: flex;

  /* min-width: 12rem; */
  /* right: 0.5rem; */
  left: -11rem;
  position: absolute;

  list-style: none;
  background-color: var(--color-white);
  width: 30rem;
  box-shadow: 0px 8px 16px 0px var(--shadow-light);
  padding: var(--padding-regular-large);
  z-index: 1;
  border-radius: var(--border-radius-small);
  margin-top: 1.3rem;
}

.source-lists ul {
  list-style: none;
  width: 20rem;
  border-right: 1px solid var(--color-white-300);
  padding: var(--padding-medium);
}

.source-lists ul:nth-last-of-type(1) {
  border: none;
}
.source-lists ul li {
  padding: var(--padding-medium);
}

.text-blue {
  font-size: var(--font-size-small);
  color: var(--color-blue);
}

.source-lists ul li a {
  color: var(--color-black-100);
  font-weight: var(--font-weight-semibold);
  text-decoration: none;
  transition: var(--transition-color-opacity);
  font-size: var(--font-size-small);
}

.source-lists li a:hover {
  color: var(--color-black-100);
  opacity: var(--opacity-medium);
}

.fa-chevron-down,
.fa-chevron-up {
  font-size: var(--font-size-xs);
}

#register {
  color: var(--color-white-100);
  background-color: var(--color-black-100);
  margin: 2px;
  padding:var(--padding-small);
  border-radius: var(--border-radius-xs);
}

section {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: var(--spacing-lg);
  padding: 2rem;
  width: var(--fluid-width);
  max-width: 100rem;
  margin: 0 auto;
}

.section-left-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

#section-left {
  background-color: var(--color-white-100);
  border-radius: var(--border-radius-small);
  opacity: var(--opacity-high);
  width: 18rem;
}

.section-left-container {
  padding: var(--padding-regular-large);
}

.icon-container {
  background: var(--color-black);
  width: 50px;
  height: 50px;
  border-radius: 1.12rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.icon-1 {
  color:var(--color-white);
}

.section-left-text-1 {
  margin: 2rem 0 2rem 0;
  font-size: var(--font-size-large);
}

.section-left-text-2 {
  font-size: var(--font-size-medium);
  color: #0f0f0f;
}
.section-left-text-2 a {
  text-decoration: underline;
}

.section-left-button {
  width: 100%;
  margin: 2rem 0 0.75rem 0;
  padding: var(--padding-extra-large);
  background-color: var(--color-blue);
  color: var(--color-white-100);
  border-radius: var(--border-radius-small);
  border: none;
  font-size: var(--font-size-medium-wide);
}

.section-right-wrapper {
  height: 80vh;
  overflow-y: auto;
  scrollbar-width: none;
}
.section-right-wrapper::-webkit-scrollbar {
  display: none;
}
.section-right-container h1 {
  color: var(--color-white-100);
  font-size:var(--font-size-medium-wide);
}
.section-right-text-1 {
  width: 80%;
  color: var(--color-white-100);
  font-size: var(--font-size-xlarge);
}
.right-text-container {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-sm);
  margin: 1rem 0 1rem 0;
}

.right-text-container > p {
  color: var(--color-white-200);
  font-size: var(--font-size-medium);
  font-weight: var(--font-weight-semibold);
  width: 80%;
}

.right-button-container {
  display: flex;
  gap: var(--spacing-sm);
}
.button-1 {
  background-color: var(--color-blue);
  color: var(--color-white-100);
  padding: var(--padding-regular-large);
  border-radius: var(--border-radius-small);
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-medium);
  border: none;
  cursor: pointer;
  transition: var(--transition-fast);
}
.button-1:hover {
  background-color: var(--color-blue-100);
}

.button-2 {
  background: transparent;
  border: 1px solid var(--color-white-100);
  border-radius: var(--border-radius-small);
  color: var(--color-white-100);
  padding: var(--padding-regular-large);
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-medium);
  transition:var(--transition-fast);
  cursor: pointer;
}

.button-2:hover {
  background-color: var(--color-blue-100);
  border: 1px solid var(--color-blue-100);
}

.button-3 {
  background: transparent;
  color: var(--color-white-100);
  border: none;
  font-size: var(--font-size-medium);
  font-weight: var(--font-size-medium);
  text-decoration: underline;
}

@media (min-width: 768px) and (max-width: 992px) {
  .nav-desktop-menu {
    gap: 0.65rem;
  }

  /* Medium ekranlar için özel stiller buraya */
  #sources,
  #examples_use {
    display: none;
  }

  .nav-desktop-menu-1 .dropdown:nth-last-of-type(1) {
    padding: var(--padding-large-horizontal);
    display: block;
  }

  .source-lists {
    left: -18rem;
    width: 38rem;
  }

  #section-left {
    width: 15rem;
  }
  .button-1 {
    padding: var(--padding-regular-medium);
    font-size: 0.75rem;
  }

  .button-2 {
    padding:var(--padding-regular-medium);

    font-size: 0.75rem;
  }
}

@media (max-width: 768px) {
  body {
    height: 100vh;
    overflow: hidden; /* Prevents scrollbars from appearing */
  }

  body::after {
    background-image: url(./images/forest.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.35;
    background-attachment: fixed; /* Keeps the image fixed on mobile */
  }
  #nav-desktop {
    display: none;
  }
  #more_data {
    display: none;
  }

  #nav-mobile {
    background-color: var(--color-white);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--padding-medium-wide);
  }

  .mobile-nav-menu {
    background-color: var(--color-white);
    width: var(--fluid-width);
    min-width: 20rem;
    box-shadow: 0px 8px 16px 0px var(--shadow-light);
    padding:var(--padding-regular-large);
    z-index: 1;
    border-radius: var(--border-radius-small);
    margin-top: 1.3rem;
    z-index: 1;
    transition: var(--transition-fast);
    max-height: 80vh;
    overflow-y: auto;
  }

  .mobile-nav-menu-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    font-size: var(--font-size-small);
    color: #353535;
    transition: 0.3s all;
  }

  .mobile-menu-content {
    padding: var(--padding-regular-horizontal);
  }

  .mobile-nav-menu-lists {
    display: none;
  }

  .mobile-nav-menu-area.active .mobile-nav-menu-lists {
    display: block;
  }

  .mobile-nav-menu-lists li {
    font-size: var(--font-size-small);
    padding: var(--padding-regular);
  }
  .mobile-nav-menu-lists li a:hover {
    color:var(--color-black-100);
    opacity: var(--opacity-medium);
  }

  .icon {
    color: var(--color-black);
    font-size: var(--font-size-medium-wide);
    margin-left: 0.8rem;
  }

  section {
    grid-template-columns: 1fr;
    width: 100%;
    max-width: 100%;
    height: 100%;
  }
  #section-left {
    opacity: var(--opacity-high);
    /* z-index: -1; */
  }

  .section-right-wrapper {
    display: none;
  }
}
